.select-cont {
  height: 50px;
  width: 100%;
  text-align: right;
}
.select-main {
  height: 30px;
  width: 70px;
  margin: 20px;
  background-color: Transparent;
  font-weight: bold;
  opacity: 0.8;
  border-radius: 10px;
  color: #181818;
}
